*~
.cache
.settings
.external*
.DS_Store
.worksheet
.classpath
.project
project/project/target
project/target
build/*
target/*
test*
WebContent/VAADIN/widgetsets/*
GWT*
**.sc
*.launch
*.db
/build
/bin/
